{% extends 'base.html' %} {% block content %}
<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">Give a home to a cat</h1>
        <p class="lead">Search a cat according to your desire</p>
        <div class="search">
          <form action="search.html">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input
                  type="text"
                  name="keywords"
                  class="form-control"
                  placeholder="Keyword (Black, young, etc)"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">City</label>
                <input
                  type="text"
                  name="city"
                  class="form-control"
                  placeholder="City"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Gender</label>
                <select name="gender" class="form-control">
                  <option selected="true" disabled="disabled">Gender</option>
                  {% for key, value in gender_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Age</label>
                <select name="age" class="form-control">
                  <option selected="true" disabled="disabled">
                    Age (years)
                  </option>
                  {% for key, value in age_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="donation" class="form-control" id="type">
                  <option selected="true" disabled="disabled">
                    Donation amount
                  </option>
                  {% for key, value in donation_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">
              Submit form
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Cats -->
<section id="listings" class="py-5 cats">
  <div class="container">
    <h3 class="text-center mb-3">Our Cats</h3>
    <div class="row">
      {% if cats %} {% for cat in cats %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="{{ cat.photo_main.url }}" alt="" />
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white"
                >${{ cat.donation }}</span
              >
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">{{ cat.name }}</h4>
              <p>
                <i class="fa fa-map-marker"></i> {{ cat.city }}, {{ cat.address
                }}
              </p>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fa fa-address-card-o"></i> Age: {{ cat.age }} 
                {% if cat.age < 2 %} year {% else %} years {% endif %}
              </div>
              <div class="col-6">
                <i class="fa fa-paw"></i> Gender: {{ cat.gender }}
              </div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fa fa-hospital-o"></i> Vaccinated: 
                {% if cat.vaccinated == True %} Yes {% else %} No {% endif %}
              </div>
              <div class="col-6">
                <i class="fa fa-calendar"></i> Available: from {{
                cat.available_from|date:'j.n.Y' }}
              </div>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
              <div class="col-12">
                <i class="fa fa-user"></i> {{ cat.volunteer }}
              </div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6">
                <i class="fa fa-clock"> {{ cat.list_date|timesince }} ago</i>
              </div>
            </div>
            <hr />
            <a href="{% url 'cat' cat.id %}" class="btn btn-primary btn-block"
              >More Info</a
            >
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-12"><p>{No Cats Available}</p></div>
      {% endif %}
    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fa fa-paw fa-4x"></i>
        <hr />
        <h3>Foster a Cat</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
          debitis nam! Repudiandae, provident iste consequatur hic dignissimos
          ratione ea quae.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-home fa-4x mr-4"></i>
        <hr />
        <h3>Donate Money for Our Cats</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
          debitis nam! Repudiandae, provident iste consequatur hic dignissimos
          ratione ea quae.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-globe fa-4x"></i>
        <hr />
        <h3>Come to Visit Cats</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
          debitis nam! Repudiandae, provident iste consequatur hic dignissimos
          ratione ea quae.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
